#container {
    width: 400px;
    height: 400px;
    position: relative;
    background: rgb(135, 233, 160);
    margin: auto;
  }
  #animate {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: red; */
  }
  .animate {
    width: 50px;
    height: 50px;
    position: absolute;
    /* left:350px; */
    /* background-color: black; */
  }
  .bullet
  {
    width: 50px;
    height: 50px;
    position: absolute;
    display: block;
  }
  
@-webkit-keyframes animacao1 { 0% {background: #D62623;}
50% {background: #EE3430;}
100% {background: #FB3733;} }

@-moz-keyframes animacao1 { 0% {background: #D62623;}
50% {background: #EE3430;}
100% {background: #FB3733;} }

@keyframes animacao1 { 0% {background: #D62623;}
50% {background: #EE3430;}
100% {background: #FB3733;} }

body {background: #B0E0E6;}

#tudo {width: 750px;
height: 580px;
margin: auto;
border-radius: 40px;
position: absolute;
left:300px;
top:0px;
-webkit-animation-name: animacao1;
-webkit-animation-duration: 1s;
-webkit-animation-timing-function:  linear;
-webkit-animation-iteration-count: infinite;
-webkit-animation-direction: alternate;

-moz-animation-name: animacao1;
-moz-animation-duration: 1s;
-moz-animation-timing-function:  linear;
-moz-animation-iteration-count: infinite;
-moz-animation-direction: alternate; 

animation-name: animacao1;
animation-duration: 1s;
animation-timing-function:  linear;
animation-iteration-count: infinite;
animation-direction: alternate;}


.gameover {width:750px;
height: auto;
padding-top: 60px;
background: none;}

.gameover p {margin-top: 0px;
margin-bottom: 0px;
font-size: 160px;
font-family: 'Black Ops One', cursive;
line-height: 120px;
text-align: center;
text-shadow: 5px 5px #000000;
color: #ffffff;}

.continue	{width: 750px;
height: auto;
padding-top: 40px;}

.continue p {margin-top: 0px;
margin-bottom: 0px;
text-align: center;
font-size: 40px;
font-weight: bold;
font-family: corbel;
color: #ffffff;
text-shadow: 2.5px 2.5px #000000;}

.opcoes {width: 550px;
height: auto;
padding-top: 50px;
margin: auto;}

.yes a {text-align: center;
font-size: 30px;
font-weight: bold;
font-family: corbel;
color: #ffffff;
text-decoration: none;
text-shadow: 2.5px 2.5px #000000;
padding: 25px 110px 25px 110px;
border: 1px solid #000000;
border-radius: 20px;
background: #006400;
margin-right: 30px;
float: left;}



@-webkit-keyframes animacao2 { from {-webkit-transform: scale(1);} 
 to {-webkit-transform: scale(1.2);} }

@-moz-keyframes animacao2 { from {-moz-transform: scale(1);} 
 to {-moz-transform: scale(1.1);} }

@keyframes animacao2 { from {transform: scale(1);} 
 to {transform: scale(1.1);} }


.yes a:hover {-webkit-animation-name: animacao2;
-webkit-animation-duration: 0.8s;
-webkit-animation-timing-function:  linear;
-webkit-animation-iteration-count: infinite;
-webkit-animation-direction: alternate;

-moz-animation-name: animacao2;
-moz-animation-duration: 0.8s;
-moz-animation-timing-function:  linear;
-moz-animation-iteration-count: infinite;
-moz-animation-direction: alternate;

animation-name: animacao2;
animation-duration: 0.8s;
animation-timing-function:  linear;
animation-iteration-count: infinite;
animation-direction: alternate;}



.no a {text-align: center;
font-size: 30px;
font-weight: bold;
font-family: corbel;
color: #ffffff;
text-decoration: none;
text-shadow: 1.5px 1.5px #FB3733;
padding: 25px 100px 25px 100px;
border-radius: 20px;
background: #000000;
float: left;}


@-webkit-keyframes animacao3 { 0% {-webkit-transform: translate(-5px,0px);} 
25% {-webkit-transform: translate(-2.5px, 0px);}
50% {-webkit-transform: translate(0px, 0px);}
75% {-webkit-transform: translate(2.5px, 0px);}
100% {-webkit-transform: translate(5px, 0px);} }

@-moz-keyframes animacao3 { 0% {-moz-transform: translate(-5px,0px);} 
25% {-moz-transform: translate(-2.5px, 0px);}
50% {-moz-transform: translate(0px, 0px);}
75% {-moz-transform: translate(2.5px, 0px);}
100% {-moz-transform: translate(5px, 0px);} }

@keyframes animacao3 { 0% {transform: translate(-5px,0px);} 
25% {transform: translate(-2.5px, 0px);}
50% {transform: translate(0px, 0px);}
75% {transform: translate(2.5px, 0px);}
100% {transform: translate(5px, 0px);} }


.no a:hover {-webkit-animation-name: animacao3;
-webkit-animation-duration: 0.15s;
-webkit-animation-timing-function:  linear;
-webkit-animation-iteration-count: infinite;
-webkit-animation-direction: alternate;

-moz-animation-name: animacao3;
-moz-animation-duration: 0.15s;
-moz-animation-timing-function:  linear;
-moz-animation-iteration-count: infinite;
-moz-animation-direction: alternate;

animation-name: animacao3;
animation-duration: 0.15s;
animation-timing-function:  linear;
animation-iteration-count: infinite;
animation-direction: alternate;}

#scoretxt
{
    color: white;
    font-size: 30px;
    position: absolute;
    left: 110%;
}